.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-left: auto !important;
  margin-right: 20px !important;
}
.tweetBox__icons {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: var(--twitter-color);
  cursor: pointer;
}
.tweetBox__icons:hover {
  background-color: var(--twitter-background);
  border-radius: 10px;
}

.tweetBox__iconBox {
  display: flex;
  margin-top: 0px !important;
  margin-left: 70px;
}
